.content {
  margin-left: 330px;
  display: inline-block;
  text-align: start;
}

.container {
  text-align: center;
  background-color: rgb(228, 228, 228);
  min-height: 96vh;
  padding-bottom: 100px;
  padding-top: 20px;
}

.footer {
  text-align: center;
  margin-top: 5%;
  opacity: 60%;
}

.headerEmpty,
.mainHeader {
  font-size: 1.4em;
  color: #5d5d5d;
  cursor: default;
  margin-bottom: -10px;
}

.mainHeader:hover {
  background: -webkit-linear-gradient(30deg, #5d5d5d, var(--secondColor) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerEmpty {
  width: 890px;
}

.row {
  display: flex;
  margin-left: -15px;
}

.rowSpace {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.inputMedium,
.inputMediumDisabled,
.inputDisabled,
.inputSmall,
.input,
.inputSmallDisabled {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  border-bottom: 2px solid #acacaca9;
  width: 440px;
  margin-top: 15px;
  margin-right: 20px;
  line-height: 2.2em;
  transition: 0.2s;
  outline: none;
}

.inputMediumDisabled,
.inputDisabled,
.inputSmallDisabled {
  color: gray;
}

.inputMedium:hover,
.inputSmall:hover,
.input:hover {
  border-bottom: 2px solid var(--mainColor);
}

.inputSmallDisabled,
.inputSmall {
  width: 120px;
  text-align: center;
}

.inputMedium,
.inputMediumDisabled {
  width: 200px;
}

.inputFieldLarge,
.inputField {
  font-size: 1em;
  border: 1.5px solid #acacaca9;
  border-radius: 4px;
  min-width: 815px;
  max-width: 815px;
  margin-right: 15px;
  height: 70px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  transition: 0.2s;
  outline: none;
}

.inputFieldLarge {
  margin-top: 15px;
  min-width: 925px;
  max-width: 925px;
  height: 140px;
}

.inputFieldLarge:hover,
.inputField:hover {
  border: 1.5px solid var(--mainColor);
}

.buttonSmall,
.buttonSmallDisabled,
.buttonDisabled,
.button {
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  height: 44px;
  padding: 30px;
  padding-top: 10px;
  border: 0;
  padding-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
  min-width: 160px;
  margin-left: 0px;
  margin-top: 20px;
}

.buttonSmallDisabled,
.buttonDisabled {
  background-color: rgba(107, 107, 107, 0.657);
  min-width: 120px;
}

.buttonSmall:hover,
.button:hover {
  background-image: linear-gradient(
    140deg,
    rgb(63, 63, 63),
    var(--secondColor)
  );
}

.buttonSmall,
.buttonSmallDisabled {
  padding: 10px;
  min-width: 100px;
  margin-left: -10px;
  border-radius: 8px 8px 8px 0;
  margin-right: 20px;
}










.userText {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.4em;
  cursor: default;
  text-align: right;
}

.buttonRow {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  width: 633px;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.filter {
  font-family: "Roboto", sans-serif;
  color: rgb(136, 136, 136);
  margin: 0;
  padding: 25px;
  font-size: 1.1em;
  height: 600px;
  width: 350px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.filter > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 250px;
}

.triggerPost,
.newPost {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  border-radius: 4px;
  width: 600px;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-color: rgb(248, 248, 248);
  height: 410px;
  transition: 0.3s;
  margin-bottom: 20px;
  filter: brightness(92%);
}

.triggerPost {
  cursor: pointer;
  text-align: center;
  height: 25px;
  width: 270px;
  padding: 20px;
}

.triggerPost:hover {
  filter: brightness(100%);
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}