.container {
  text-align: center;
  background-color: rgb(228, 228, 228);
  min-height: 96vh;
  padding-bottom: 100px;
  padding-top: 20px;
}

.content {
  margin-left: 330px;
  display: inline-block;
  text-align: start;
}

.mainHeader {
  margin-top: 20vh;
  font-size: 10em;
  color: #5d5d5d;
  cursor: default;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.mainHeader:hover {
  background: -webkit-linear-gradient(30deg, #5d5d5d, var(--secondColor) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 1.6em;
  color: #5d5d5d;
  font-style: italic;
  margin-top: 40px;
}