:root {
  --mainColor: #f16000;
  --secondColor: #7500be;
}

.container {
  margin-left: 330px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  padding-bottom: 100px;
  margin-bottom: -20px;
  padding-top: 20px;
  min-height: 96vh;
}

.feed {
  padding-top: 0.1px;
}

.headerEmpty,
.mainHeader {
  font-size: 1.4em;
  color: #5d5d5d;
  cursor: default;
  margin-bottom: -10px;
}

.headerEmpty {
  width: 890px;
}

.infoHeader {
  flex-direction: column;
}

.loginHeader {
  font-size: 80px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 50px;
  margin-left: -5px;
  font-weight: bold;
  color: #fff;
  cursor: default;
}

.loginSubheader {
  font-size: 2em;
  color: rgb(182, 182, 182);
  cursor: default;
  margin-bottom: 45px;
  text-align: center;
}

.mainHeader:hover {
  background: -webkit-linear-gradient(30deg, #5d5d5d, var(--secondColor) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  background-image: linear-gradient(
    140deg,
    var(--mainColor),
    var(--secondColor)
  );
  height: 60px;
  font-size: 2.5em;
  border-radius: 0px 0px;
  color: white;
  padding-bottom: 8px;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 30px;
  text-align: center;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  transition: 0.1s;
}

.logo:hover {
  background-image: linear-gradient(
    120deg,
    var(--mainColor),
    var(--secondColor)
  );
  cursor: pointer;
}

.backButton {
  margin-bottom: -30px;
  cursor: pointer;
  text-align: right;
  color: rgb(150, 150, 150);
  font-size: 1.1em;
  transition: 0.5s;
}

.backButton:hover {
  color: rgb(211, 211, 211);
}

.userText {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.4em;
  cursor: default;
  text-align: right;
}

.edit {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  margin-top: 12px;
  color: rgb(94, 94, 94);
  width: auto;
  text-align: right;
  cursor: pointer;
}

.buttonRow {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  height: 50px;
  max-width: 50px;
  margin-right: 15px;
  margin-bottom: -53px;
}

.iconLarge {
  padding-left: 20px;
  height: 60px;
  max-width: 60px;
  top: 152px;
  position: absolute;
}

.iconInfo {
  padding-left: 835px;
  height: 50px;
  max-width: 50px;
  top: 154px;
  position: absolute;
}

.iconInfoLeft {
  padding-left: 755px;
  height: 50px;
  max-width: 50px;
  top: 154px;
  position: absolute;
}

.reps,
.duration {
  padding-left: 880px;
  font-size: 1.2em;
  top: 184px;
  position: absolute;
  color: rgb(66, 66, 66);
}

.reps {
  padding-left: 800px;
}

.arrowDisabled,
.arrow {
  margin-top: 250px;
  transition: 0.2s;
  height: 65px;
  cursor: pointer;
  filter: opacity(60%);
}

.arrowDisabled {
  filter: grayscale(80%) opacity(50%);
}

.arrow:hover {
  filter: opacity(100%);
}

.settings {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(146, 146, 146);
  position: fixed;
  width: 330px;
  justify-content: space-between;
  left: 0;
  top: 0;
  box-shadow: 10px 0px 75px -25px rgb(82, 82, 82);
  font-family: "Work Sans", sans-serif;
}

.settingActive,
.loginSetting,
.setting {
  text-align: center;
  width: 330px;
  text-align: center;
  font-size: 1.1em;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: rgb(26, 26, 26);
  transition: 0.2s;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.settingActive,
.loginSetting:hover,
.setting:hover {
  padding-left: 10px;
  width: 320px;
  cursor: pointer;
  color: #a700ff;
  background-color: rgb(24, 24, 24);
}

.loginSetting {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: rgb(22, 22, 22);
}

.loginSetting:hover {
  color: var(--mainColor);
  background-color: rgb(22, 22, 22);
}

.cardWrapper {
  width: 288px;
  height: 500px;
  margin-top: 55px;
  padding: 0px;
  border-radius: 6px;
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardWrapper:hover {
  margin-top: 52px;
  box-shadow: 0px 0px 30px -6px rgb(134, 134, 134);
  cursor: pointer;
}

.cardContainer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 15px;
  margin-left: -89px;
  margin-right: -89px;
  padding-left: 35px;
}

.cardWrapper > .title {
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: space-between;
}

.spinnerContainer {
  margin-top: 200px;
}

.postWrapperExtra,
.postWrapperSpinner,
.postWrapperPublish,
.postWrapper {
  width: 850px;
  font-size: 1.1em;
  margin-top: 30px;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 75px -38px rgb(82, 82, 82);
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
}

.postWrapperSpinner {
  padding-top: 24px;
  margin-top: 134px;
}

.postWrapperSpinner:hover,
.postWrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}

.postWrapperExtra:hover,
.postWrapperPublish:hover {
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}

.postWrapperPublish {
  margin-top: 60px;
  padding-top: 25px;
  transition: 0s;
}

.postWrapperExtra {
  margin-top: 10px;
  min-height: 30px;
  transition: 0s;
  padding-top: 25px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.description,
.postWrapper > .title,
.singlePostWrapper > .title {
  margin-left: 70px;
}

.loadingTitle {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
}

.subtitle {
  color: rgb(138, 120, 148);
}

.singlePostWrapper > .title {
  margin-left: 80px;
  margin-bottom: -5px;
}

.singlePostWrapper > .description {
  margin-left: 80px;
  margin-bottom: -12px;
}

.singlePostWrapper {
  display: flex;
  font-size: 1.3em;
  flex-direction: column;
  width: 960px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  line-height: 2em;
  box-shadow: 0px 0px 40px -10px rgb(165, 165, 165);
  margin-top: 60px;
}

.kommentarer {
  margin-top: 30px;
}

.kommentar {
  font-style: italic;
}

.postImagePublish,
.singlePostImage,
.postImage {
  width: 889px;
  height: 400px;
  margin: -20px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.postImagePublish {
  height: 180px;
  cursor: default;
}

.singlePostImage {
  width: 999px;
  height: 600px;
}

.gradientLoading {
  background-image: linear-gradient(
    140deg,
    rgba(224, 108, 0, 0.438),
    #44006e73
  );
  width: 890px;
  height: 400px;
}

.gradientPublish {
  background-image: linear-gradient(
    140deg,
    rgba(224, 108, 0, 0.438),
    #44006e73
  );
  width: 850px;
  height: 140px;
  padding: 20px;
  padding-top: 10px;
  transition: 0.2s;
}

.gradient {
  background-image: linear-gradient(
    140deg,
    rgba(224, 108, 0, 0.171),
    #44006e36
  );
  width: 890px;
  height: 400px;
  transition: 0.2s;
}

.postWrapper:hover > .postImage > .gradient {
  filter: opacity(30%);
}

.singlePostWrapper > img {
  width: 1040px;
  margin-left: -20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  width: 633px;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.filter {
  font-family: "Roboto", sans-serif;
  color: rgb(136, 136, 136);
  margin: 0;
  padding: 25px;
  font-size: 1.1em;
  height: 600px;
  width: 350px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.filter > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 250px;
}

.triggerPost,
.newPost {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  border-radius: 4px;
  width: 600px;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-color: rgb(248, 248, 248);
  height: 410px;
  transition: 0.3s;
  margin-bottom: 20px;
  filter: brightness(92%);
}

.row {
  display: flex;
  margin-left: -15px;
}

.rowSpace {
  display: flex;
  justify-content: space-between;
}

.triggerPost {
  cursor: pointer;
  text-align: center;
  height: 25px;
  width: 270px;
  padding: 20px;
}

.triggerPost:hover {
  filter: brightness(100%);
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}

.inputMedium,
.inputMediumDisabled,
.inputDisabled,
.inputSmall,
.input,
.inputSmallDisabled {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  border-bottom: 2px solid #acacaca9;
  width: 440px;
  margin-top: 15px;
  margin-right: 20px;
  line-height: 2.2em;
  transition: 0.2s;
  outline: none;
}

.inputMediumDisabled,
.inputDisabled,
.inputSmallDisabled {
  color: gray;
}

.inputMedium:hover,
.inputSmall:hover,
.input:hover {
  border-bottom: 2px solid var(--mainColor);
}

.inputSmallDisabled,
.inputSmall {
  width: 120px;
  text-align: center;
}

.inputMedium,
.inputMediumDisabled {
  width: 200px;
}

.inputImage {
  background-color: transparent;
  font-size: 1.1em;
  width: 310px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgb(112, 112, 112);
}

.filterDisabled,
.filterEnabled,
.inputLogin {
  background-color: rgb(28, 28, 28);
  border: 0;
  font-size: 1.1em;
  padding: 20px;
  border-bottom: 1px solid rgb(60, 60, 60);
  width: 460px;
  line-height: 2em;
  color: rgb(248, 248, 248);
  transition: 0.2s;
  font-family: "Work Sans", sans-serif;
  outline: none;
}

/* .inputLogin:-webkit-autofill,
.inputLogin:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px rgb(28, 28, 28) inset !important;
  -webkit-text-fill-color: rgb(248, 248, 248) !important;
} */

.filterDisabled,
.filterEnabled {
  width: 320px;
  padding-left: 52px;
}

.filterListPurple,
.filterListPost,
.filterList {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  color: rgb(145, 145, 145);
  transition: 0.2s;
}

.filterListPurple {
  color: var(--secondColor);
  font-size: 0.9em;
}

.filterListPost {
  color: var(--mainColor);
  font-size: 0.9em;
}

.filterListPurple:hover,
.filterListPost:hover,
.filterList:hover {
  color: rgb(90, 90, 90);
  cursor: pointer;
}

.filterContainer {
  position: fixed;
  top: 141px;
  left: 0px;
  width: 330px;
  display: flex;
  flex-wrap: wrap;
}

.filterDisabled:hover,
.filterEnabled:hover {
  padding-left: 58px;
  width: 314px;
  background-color: rgb(24, 24, 24);
}

.filterDisabled {
  color: rgb(110, 110, 110);
}

.inputLogin:hover {
  padding-left: 26px;
  width: 454px;
  color: var(--mainColor);
  background-color: rgb(24, 24, 24);
}

.search {
  position: fixed;
  height: 25px;
  top: 165px;
  left: 18px;
  transition: 0.2s;
  cursor: text;
}

.filterDisabled:hover + .search {
  left: 24px;
}

.smallToggleTrue,
.smallToggleFalse,
.toggleTrue,
.toggleFalse {
  background-color: rgb(33, 33, 33);
  border: 0;
  font-size: 1.1em;
  padding: 20px;
  border-bottom: 1px solid rgb(60, 60, 60);
  color: #a200fa;
  width: 250px;
  height: 76px;
  transition: 0.2s;
  cursor: default;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  outline: none;
}

.smallToggleTrue,
.smallToggleFalse {
  background-color: rgb(22, 22, 22);
  text-align: center;
  width: 165px;
  height: auto;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 0;
}

.smallToggleFalse {
  color: rgb(141, 141, 141);
}

.smallToggleTrue {
  background-color: rgb(30, 30, 30);
}

.toggleFalse {
  background-color: rgb(28, 28, 28);
  color: rgb(141, 141, 141);
}

.smallToggleTrue:hover,
.smallToggleFalse:hover {
  cursor: pointer;
  padding-left: 8px;
  width: 157px;
}

.toggleFalse:hover {
  padding-left: 30px;
  cursor: pointer;
}

.buttonFilter,
.buttonFilterDisabled,
.buttonLoginDisabled,
.buttonLogin {
  background-color: rgb(32, 32, 32);
  color: var(--mainColor);
  font-size: 1.1em;
  border-radius: 4px;
  padding: 20px;
  height: 76px;
  border: 0;
  border-bottom: 1px solid rgb(60, 60, 60);
  transition: 0.2s;
  cursor: pointer;
  width: 500px;
  font-family: "Work Sans", sans-serif;
  outline: none;
}

.buttonFilter,
.buttonFilterDisabled {
  padding: 8px;
  height: 52px;
  border-bottom: 0;
  background-color: rgb(30, 30, 30);
}

.buttonFilterDisabled,
.buttonLoginDisabled {
  cursor: default;
  color: rgb(141, 141, 141);
  background-color: rgb(28, 28, 28);
}

.buttonLogin:hover {
  padding-left: 26px;
}

.inputFieldLarge,
.inputField {
  font-size: 1em;
  border: 1.5px solid #acacaca9;
  border-radius: 4px;
  min-width: 815px;
  max-width: 815px;
  margin-right: 15px;
  height: 70px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  transition: 0.2s;
  outline: none;
}

.inputFieldLarge {
  margin-top: 15px;
  min-width: 925px;
  max-width: 925px;
  height: 140px;
}

.inputFieldLarge:hover,
.inputField:hover {
  border: 1.5px solid var(--mainColor);
}

.text {
  color: rgb(70, 70, 70);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buttonSmall,
.buttonSmallDisabled,
.buttonDisabled,
.button {
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  height: 44px;
  padding: 30px;
  padding-top: 10px;
  border: 0;
  padding-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
  min-width: 160px;
  margin-left: 0px;
  margin-top: 20px;
}

.buttonSmallDisabled,
.buttonDisabled {
  background-color: rgba(107, 107, 107, 0.657);
  min-width: 120px;
}

.buttonSmall:hover,
.button:hover {
  background-image: linear-gradient(
    140deg,
    rgb(63, 63, 63),
    var(--secondColor)
  );
}

.buttonSmall,
.buttonSmallDisabled {
  padding: 10px;
  min-width: 100px;
  margin-left: -10px;
  border-radius: 8px 8px 8px 0;
  margin-right: 20px;
}

.link {
  font-size: 1em;
  height: 35px;
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: rgb(182, 182, 182);
  margin-right: 0;
  transition: 0.2s;
  outline: none;
}

.link:hover {
  color: rgb(243, 243, 243);
}

.error {
  margin: 25px;
  margin-top: -45px;
  color: rgb(200, 0, 0);
  text-align: right;
  font-style: italic;
}

.loginWrapper {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.loginLogoActivated,
.loginLogo {
  display: inline-block;
  width: 20vw;
  margin-top: 25vh;
  box-shadow: 0px 0px 31px -8px rgba(0, 0, 0, 0.75);
  transition: 0s;
}

.loginLogoActivated {
  transform: rotate(360deg);
  transition: 2s;
}

.loginLogoWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.loginFormWrapper {
  width: 500px;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(38, 38, 38);
  text-align: center;
}

.loginForm {
  display: inline-block;
  text-align: left;
  color: #d1d1d1a9;
  padding: 20% 0 10% 0;
}

.loginForm > h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.7em;
  color: #f8f8f8a9;
}

.bannerPurple {
  background-color: #1976d2;
  background: linear-gradient(70deg, var(--mainColor) 40%, var(--secondColor));
  width: 100%;
  height: 900px;
  padding-left: 200px;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 58px;
  cursor: default;
}

.bannerOrange {
  background-color: #1976d2;
  background: linear-gradient(70deg, var(--secondColor) 50%, #ff0037);
  color: rgb(228, 228, 228);
  font-weight: bold;
  width: 100%;
  height: 900px;
}

.antiHero {
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
}

.hero {
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 1000vh;
  max-height: 560px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 40%;
  min-height: 480px;
  height: 100vh;
  max-height: 560px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  transition: 6s;
}

.loginWrapper:hover > .loginLogoWrapper > .hero2 {
  top: 32%;
}

.footer {
  text-align: center;
  margin-top: 5%;
  opacity: 60%;
}
