.container {
  margin-left: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(216, 216, 216);
  padding-bottom: 100px;
  padding-top: 20px;
  min-height: 96vh;
  transition: 0.5s;
}

.mainHeader {
  font-size: 1.6em;
  color:#5d5d5d;
  cursor: default;
  margin-bottom: -10px;
}

.mainHeader:hover {
  background: -webkit-linear-gradient(30deg, #5d5d5d, #6700a7 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  background-image: linear-gradient(140deg, rgb(224, 108, 0), #44006e);
  height: 50px;
  width: 240px;
  margin: 20px;
  font-size: 2.5em;
  border-radius: 20px 20px 20px 0;
  color: white;
  padding: 25px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  transition: 0.1s;
}

.logo:hover {
  background-image: linear-gradient(130deg, rgb(224, 108, 0), #44006e);
  cursor: pointer;
  margin-left: 28px;
}

.backButton {
  margin-bottom: -30px;
  cursor: pointer;
  text-align: right;
  color: rgb(150, 150, 150);
  font-size: 1.1em;
  transition: 0.5s;
}

.backButton:hover {
  color: rgb(211, 211, 211);
}

.userText {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.4em;
  cursor: default;
  text-align: right;
}

.buttonRow {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.icon,
.icon2 {
  height: 50px;
  margin-top: 50px;
  margin-left: 20px;
  transition: 0.2s;
}

.icon2 {
  margin-bottom: -2px;
}

.icon:hover,
.icon2:hover {
  height: 62px;
  margin-top: 44px;
  margin-bottom: -6px;
  margin-left: 14px;
  margin-right: -6px;
  cursor: pointer;
}

.icon2:hover {
  margin-bottom: -8px;
}

.arrowDisabled,
.arrow {
  font-size: 60px;
  margin-top: 250px;
  transition: 0.2s;
  color: rgb(68, 68, 68);
}

.arrowDisabled {
  color: rgb(144, 144, 144);
}

.arrow:hover {
  font-size: 76px;
  margin-top: 242px;
  color: #ff6924;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.settings {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(146, 146, 146);
  position: fixed;
  width: 400px;
  justify-content: space-between;
  left: 0;
  top: 0;
  font-family: 'Work Sans', sans-serif;
}

.loginSetting,
.setting {
  text-align: center;
  width: 400px;
  text-align: center;
  font-size: 1.1em;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(26, 26, 26);
  transition: 0.2s;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.loginSetting:hover,
.setting:hover {
  padding-left: 10px;
  width: 390px;
  cursor: pointer;
  color: #a700ff;
  background-color: rgb(24, 24, 24);
}

.loginSetting:hover {
  color: rgb(224, 108, 0);
}

.cardWrapper {
  width: 280px;
  height: 500px;
  margin-top: 55px;
  padding: 0px;
  border-radius: 6px;
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(92%);
}

.cardWrapper:hover {
  margin-top: 52px;
  filter: brightness(100%);
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
  cursor: pointer;
}

.cardContainer {
  width: 960px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  margin-bottom: 40px;
  margin-top: 15px;
  margin-left: -40px;
}

.cardWrapper > .title {
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: space-between;
}

.postWrapper {
  width: 850px;
  font-size: 1.1em;
  margin-top: 30px;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 75px -38px rgb(82, 82, 82);
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
}

.postWrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}

.postWrapper > .title {
  display: flex;
  justify-content: space-between;
}

.loadingTitle {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
}

.subtitle {
  color: rgb(87, 87, 87);
  font-style: italic;
}

.singlePostWrapper > .title {
  font-size: 1.4em;
}

.singlePostWrapper {
  display: flex;
  font-size: 1.1em;
  flex-direction: column;
  width: 1100px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 8px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  background-color: rgb(248, 248, 248);
  line-height: 2em;
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
  margin-top: 50px;
}

.kommentarer {
  margin-top: 30px;
}

.kommentar {
  font-style: italic;
}

.singlePostImage,
.postImage {
  width: 890px;
  height: 500px;
  margin: -20px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.singlePostImage {
  width: 1140px;
  height: 600px;
}

.gradientLoading {
  background-image: linear-gradient(140deg, rgba(224, 108, 0, 0.438), #44006e73);
  width: 890px;
  height: 500px;
}

.gradient {
  background-image: linear-gradient(140deg, rgba(224, 108, 0, 0.212), #44006e3f);
  width: 890px;
  height: 500px;
  transition: 1s;
}

.postWrapper:hover > .postImage > .gradient {
  filter: opacity(0%)
}

.singlePostWrapper > img {
  width: 994px;
  margin: -16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  width: 633px;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.filter {
  font-family: 'Roboto', sans-serif;
  color: rgb(136, 136, 136);
  margin: 0;
  padding: 25px;
  font-size: 1.1em;
  height: 600px;
  width: 350px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.filter > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 250px;
}

.triggerPost,
.newPost {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  border-radius: 4px;
  width: 600px;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-color: rgb(248, 248, 248);
  height: 410px;
  transition: 0.3s;
  margin-bottom: 20px;
  filter: brightness(92%)
}

.triggerPost {
  cursor: pointer;
  text-align: center;
  height: 25px;
  width: 270px;
  padding: 20px;
}

.triggerPost:hover {
  filter: brightness(100%);
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);
}

.inputSmall,
.input {
  background-color: transparent;
  border: 0;
  font-size: 1.1em;
  border-bottom: 2px solid #acacaca9;
  width: 450px;
  margin-top: 15px;
  margin-right: 15px;
  line-height: 2.2em;
  transition: 0.2s;
}

.inputSmall:hover,
.input:hover {
  border-bottom: 2px solid #ff6924;
}

.inputSmall {
  width: 218px;
}

.inputImage {
  background-color: transparent;
  font-size: 1.1em;
  width: 310px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgb(112, 112, 112);
}

.inputLogin {
  background-color: transparent;
  border: 0;
  font-size: 1.2em;
  border-bottom: 4px solid rgb(255, 94, 0);
  width: 315px;
  margin-bottom: 20px;
  margin-top: -10px;
  line-height: 2em;
  color: rgb(223, 223, 223);
  transition: 0.4s;
}

.inputLogin:hover {
  border-bottom: 4px solid rgb(180, 180, 180);
}

.inputField {
  font-size: 1em;
  border: 1.5px solid #acacaca9;
  border-radius: 4px;
  width: 420px;
  margin-top: 15px;
  margin-right: 15px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
}

.inputField:hover {
  border: 1.5px solid #ff6924;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.toggleTrue,
.toggleFalse {
  background-color: rgb(36, 36, 36);
  color: rgb(223, 223, 223);
  font-size: 1.1em;
  height: 55px;
  padding: 30px;
  padding-top: 10px;
  border: 4px solid rgb(216, 79, 0);
  padding-bottom: 10px;
  transition: 0.5s;
  transition: 0.2s;
  cursor: default;
  margin-top: -10px;
}

.toggleFalse {
  background-color: rgb(216, 79, 0);
  margin-right: -10px;
  color: rgb(92, 21, 0);
  font-style: italic;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.buttonDisabled,
.button {
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  height: 42px;
  padding: 40px;
  padding-top: 10px;
  border: 0;
  padding-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.buttonDisabled {
  background-color: rgba(107, 107, 107, 0.603);
}

.buttonRegisterDisabled,
.buttonRegister {
  margin-top: 45px;
  background-color: rgb(226, 58, 7);
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 20px;
  border: 0;
  transition: 0.5s;
  cursor: pointer;
  width: 180px;
  box-shadow: 5px 5px 15px -2px rgb(14, 14, 14);
  font-weight: bold;
}

.buttonRegisterDisabled {
  background-color: transparent;
  box-shadow: 5px 5px 15px -2px rgb(0, 0, 0),
    -5px -5px 15px -2px rgb(105, 105, 105);
  color: #d1d1d1a9;
}

.fields {
  width: 85%;
}

.link {
  font-size: 1em;
  height: 35px;
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: rgb(182, 182, 182);
  margin-right: 0;
  transition: 0.2s;
}

.link:hover {
  color: rgb(243, 243, 243);
}

.choosenLink,
.filterLink {
  margin-top: 4px;
  padding-bottom: 3px;
  width: 150px;
}

.choosenLink {
  font-weight: bold;
  transition: 0.1s;
}

.choosenLink,
.filterLink:hover {
  border-bottom: 2px solid rgb(255, 60, 0);
  cursor: pointer;
  width: 110px;
  margin-right: 40px;
  padding-bottom: 1px;
}

.error {
  margin-top: 15px;
  color: red;
  font-style: italic;
}

.filterLink:hover > strong {
  color: rgba(0, 0, 0, 0.4);
}

.loginWrapper {
  display: flex;
}

.loginLogoActivated,
.loginLogo {
  display: inline-block;
  width: 20vw;
  margin-top: 25vh;
  box-shadow: 0px 0px 31px -8px rgba(0, 0, 0, 0.75);
  transition: 0s;
}

.loginLogoActivated {
  transform: rotate(360deg);
  transition: 2s;
}

.loginLogoWrapper {
  position: fixed;
  width: 40vw;
  height: 100vh;
  background-color: #e04700;
  text-align: center;
}

.loginFormWrapper {
  width: 60vw;
  min-height: 100vh;
  margin-left: 40vw;
  background-color: rgb(36, 36, 36);
  text-align: center;
}

.loginForm {
  display: inline-block;
  text-align: left;
  color: #d1d1d1a9;
  padding: 20% 0 10% 0;
}

.loginForm > h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.7em;
  color: #f8f8f8a9;
}