.content {
  margin-left: 330px;
  display: inline-block;
  text-align: start;
}

.container {
  text-align: center;
  background-color: rgb(228, 228, 228);
  min-height: 96vh;
  padding-bottom: 100px;
  padding-top: 20px;
}

.footer {
  text-align: center;
  margin-top: 5%;
  opacity: 60%;
}

.mainHeader {
  font-size: 1.4em;
  color: #5d5d5d;
  cursor: default;
  margin-bottom: -10px;
}

.mainHeader:hover {
  background: -webkit-linear-gradient(30deg, #5d5d5d, var(--secondColor) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  display: flex;
  margin-left: -15px;
}

.rowSpace {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  z-index: 10;
}

.inputMedium,
.inputMediumDisabled {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  border-bottom: 2px solid #acacaca9;
  width: 200px;
  margin-top: 15px;
  margin-right: 10px;
  line-height: 2.2em;
  transition: 0.2s;
  outline: none;
}

.inputMedium:hover {
  border-bottom: 2px solid var(--mainColor);
}

.inputMediumDisabled {
  width: 200px;
  color: gray;
}

.inputFieldLarge {
  font-size: 1em;
  border: 1.5px solid #acacaca9;
  border-radius: 4px;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  transition: 0.2s;
  outline: none;
  margin-top: 15px;
  min-width: 925px;
  max-width: 925px;
  height: 140px;
}

.inputFieldLarge:hover {
  border: 1.5px solid var(--mainColor);
}

.buttonVis,
.buttonSmall,
.buttonSmallDisabled,
.buttonDisabled,
.button {
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  height: 44px;
  padding: 30px;
  padding-top: 10px;
  border: 0;
  padding-bottom: 10px;
  cursor: pointer;
  min-width: 160px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
}

.buttonSmallDisabled,
.buttonDisabled {
  background-color: rgba(107, 107, 107, 0.657);
  min-width: 120px;
}

.buttonSmall:hover,
.button:hover {
  background-image: linear-gradient(
    140deg,
    rgb(63, 63, 63),
    var(--secondColor)
  );
}

.buttonSmall,
.buttonSmallDisabled {
  padding: 10px;
  min-width: 100px;
  margin-left: 0px;
  border-radius: 8px 8px 8px 0;
  margin-right: 20px;
}

.edit {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  margin-top: 12px;
  color: rgb(94, 94, 94);
  width: auto;
  text-align: right;
  cursor: pointer;
}

.icon {
  height: 50px;
  max-width: 50px;
  margin-right: 15px;
  margin-bottom: -53px;
}

.iconLarge {
  height: 60px;
  max-width: 60px;
  top: 175px;
  position: absolute;
  z-index: 10;
}

.iconLarge:hover {
  transition: 0.2s;
  filter: grayscale(30%)
}

.iconInfo {
  padding-left: 835px;
  height: 50px;
  max-width: 50px;
  top: 154px;
  position: absolute;
}

.iconInfoLeft {
  padding-left: 755px;
  height: 50px;
  max-width: 50px;
  top: 154px;
  position: absolute;
}

.reps,
.duration {
  margin-left: 880px;
  font-size: 1.2em;
  top: 184px;
  position: absolute;
  color: rgb(66, 66, 66);
}

.reps {
  margin-left: 800px;
}

.postWrapperSmall {
  width: 288px;
  height: 500px;
  margin-top: 55px;
  padding: 0px;
  border-radius: 6px;
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
  box-shadow: 0px 0px 75px -38px rgb(95, 95, 95);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postWrapperSmall:hover {
  margin-top: 52px;
  box-shadow: 0px 0px 30px -6px rgb(134, 134, 134);
  cursor: pointer;
}

.postWrapperSmall > .title {
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: space-between;
}

.postWrapper {
  width: 850px;
  font-size: 1.1em;
  margin-top: 30px;
  max-height: 1000px;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 75px -38px rgb(82, 82, 82);
  background-color: rgb(248, 248, 248);
  transition: 0.2s;
}

.postWrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 23px -4px rgb(134, 134, 134);

}

.description,
.postWrapper > .title,
.singlePostWrapper > .title {
  margin-left: 70px;
}

.singlePostWrapper > .title:hover {
  
  transition: 0.2s;
  color: rgb(138, 120, 148);
}


.subtitle {
  color: rgb(138, 120, 148);
}

.singlePostWrapper > .title {
  margin-left: 80px;
  margin-bottom: -5px;
}

.singlePostWrapper > .description {
  margin-left: 80px;
  margin-bottom: -12px;
}

.singlePostWrapper {
  display: flex;
  font-size: 1.3em;
  flex-direction: column;
  width: 960px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  line-height: 2em;
  box-shadow: 0px 0px 40px -10px rgb(165, 165, 165);
  margin-top: 60px;
}

.singlePostImage,
.postImage {
  width: 889px;
  height: 400px;
  margin: -20px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.singlePostImage {
  width: 999px;
  height: 600px;
}

.gradient {
  background-image: linear-gradient(
    140deg,
    rgba(224, 108, 0, 0.171),
    #44006e36
  );
  width: 890px;
  height: 400px;
  transition: 0.2s;
}

.postWrapper:hover > .postImage > .gradient {
  filter: opacity(30%);
}

.singlePostWrapper > img {
  width: 1040px;
  margin-left: -20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.text {
  color: rgb(70, 70, 70);
}

.filterListPurple,
.filterListPost {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  transition: 0.2s;
}

.filterListPurple {
  color: var(--secondColor);
  font-size: 0.9em;
}

.filterListPost {
  color: var(--mainColor);
  font-size: 0.9em;
}

.filterListPurple:hover,
.filterListPost:hover {
  color: rgb(90, 90, 90);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .singlePostWrapper,
  .postWrapperSmall,
  .postWrapper {
    width: auto;
    margin: 0;
    margin-top: 30px;
  }

  .container {
    width: 100vw;
  }

  .content {
    margin: 0;
  }

  .singlePostImage {
    width: 100vw;
    height: 250px;
  }

  .mainHeader {
    text-align: center;
  }

  .postImage {
    width: auto;
    height: 220px;
  }
  .gradient {
    display: none;
  }

  .subtitle {
    display: none;
  }
}


.buttonVis {
  color: white;
  background-image: linear-gradient(to bottom right, #f16000, #7500be);
}

.buttonVis:hover {
	background: linear-gradient(to bottom right, #7500be, #f16000);
}